<section class="edit-task">
  <form class="edit-form" [formGroup]="editForm" (submit)="editTask()">
    <input
      type="text"
      class="edit-form__input"
      placeholder="Название: изучить Angular"
      formControlName="title"
      [value]="task.title"
    >
    <input
      type="text"
      class="edit-form__input"
      placeholder="Срок: 12.02.2019"
      formControlName="date"
      [value]="task.date"
    >
    <button type="submit" class="edit-form__button">Изменить</button>
  </form>

  <button type="submit" class="back-button" (click)="backToTasks()"></button>
</section>
