body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  font-size: 16px;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #323232;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  margin: 0 auto 30px auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/* навигация */

.main-navigation {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  margin: 0 auto;
  width: 1200px;
}

.main-navigation__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-navigation__list-item {
  margin-right: 15px;
}

.main-navigation__list-item:last-child {
  margin-right: 0;
}

.main-navigation__list-link {
  font-size: 18px;
}

.main-navigation__list-link:hover,
.main-navigation__list-link:focus{
  outline: none;
  border-bottom: 1px solid #323232;
}

/* контенер */

.container {
  margin: 0 auto 40px auto;
  padding: 15px 0;
  width: 1200px;
  box-sizing: border-box;
}

.container__title {
  margin: 0;
  padding-bottom: 40px;
  font-size: 25px;
}

/* события - общие стили*/

.events {
  margin-bottom: 30px;
}

.events__title {
  margin: 0;
  padding-bottom: 20px;
  font-size: 20px;
}

.events__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.events__list-link {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 20px 15px ;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  outline: none;
}

.events__list-link:hover,
.events__list-link:focus {
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}

/* события - транзакции */

.events__list-item--transaction-from {
  font-size: 22px;
  color: #0088d4;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.events__list-item--transaction-amount {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.events__list-item--transaction-sum {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events__list-item--transaction-expenditure .events__list-item--transaction-amount {
  color: #d02828;
}

.events__list-item--transaction-incoming .events__list-item--transaction-amount {
  color: #09ab74;
}

.events__list-item--transaction-currency {
  color: #cccccc;
}

.events__list-item--transaction-incoming .events__list-link::after{
  position: absolute;
  right: 0;
  display: block;
  width: 8px;
  height: 100%;
  background-color: #09ab74;
  content: ' ';
}

.events__list-item--transaction-expenditure .events__list-link::after{
  position: absolute;
  right: 0;
  display: block;
  width: 8px;
  height: 100%;
  background-color: #d02828;
  content: ' ';
}

.events__list-item--transaction-date {
  margin-right: 30px;
  font-size: 20px;
  letter-spacing: 1px;
}

/* события - новости */

.events__list-item--new-title {
  width: 800px;
  font-size: 20px;
}

.events__list-item--new-acquainted .events__list-link{
  color: #fff;
  background: #09ab74;
}

/* форма */

.form {
  display: block;
  margin-bottom: 20px;
  max-width: 600px;
}

.form__item {
  margin: 0;
  padding: 10px 15px;
}

.form__item-title {
  display: block;
  margin-bottom: 5px;
}

.form__item-input {
  color: #323232;
  font-size: 14px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
}

.form__item-input:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.form__item-input:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.form__item-button {
  padding: 10px 15px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
  outline: none;
}

.form__item-button:hover,
.form__item-button:focus {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.form__item-select {
  width: 100%;
  outline: none;
}

.form__item-select:focus {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.form__item-area {
  padding: 10px;
  color: #323232;
  font-size: 14px;
  width: 100%;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
  border-radius: 15px;
  box-sizing: border-box;
  resize: none;
}

/* подробнее - новости*/

.new {
  margin-bottom: 30px;
}

.new__title {
  margin: 0;
  padding-bottom: 25px;
  font-size: 20px;
}

.new__description {
  margin: 0 0 25px 0;
  padding: 0;
}

.new__button {
  padding: 10px 15px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
  outline: none;
}

.new__button:hover,
.new__button:focus {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

/* подробнее - транзакция */

.transaction {
  margin-bottom: 30px;
}

.transaction__title {
  margin: 0;
  padding-bottom: 25px;
  font-size: 20px;
  color: #323232;
}

.transaction__amount {
  display: block;
  margin-bottom: 10px;
}

.transaction__description {
  margin: 0 0 10px 0;
  padding: 0;
}

.transaction__expenditure {
  margin-bottom: 10px;
  display: block;
  color: darkred;
}
.transaction__incoming {
  margin-bottom: 10px;
  display: block;
  color: green;
}

.transaction__date {
  display: block;
  margin-bottom: 25px;
}

.transaction__button {
  padding: 10px 15px;
  color: #000;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
  outline: none;
}

.transaction__button:hover,
.transaction__button:focus {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}
